body {
	background: url(../images/mlbteams.jpg);
    background-size: cover;
}

h1 {
	font-size: 50px;
	margin-top: 170px;
}

#start {
	width: 20%;
	font-size: 50px;
	text-align: center;
	color: blue;
	background-color: white;
}

#wrapper {
	text-align: center;
	background-color: white;
	width: 80%;
	margin: 0 auto;
}